<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<link rel="stylesheet" href="/css/bootstrap.min.css"></link>
<link rel="stylesheet" href="/css/font-awesome.min.css"></link>
<link rel="stylesheet" href="/css/rwd/rwd_detail.css"></link>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/rwd/rwd_detail.js"></script>
<title>RWD-Demo</title>
</head>
<body class="rwd-body">
	<header>
		<div class="logo">ProQuest 学位论文全文检索平台</div>
		<div class="header_right">
			<div class="dropdown">
				<a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> 
					简体中文  <span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a href="#" id="zh_CN">简体中文</a></li>
					<li><a href="#" id="en_US">English</a></li>
					<li><a href="#" id="zh_TW">繁體中文</a></li>
				</ul>
			</div>
			<div class="icon_menu">
				<i class="fa fa-home"></i>
			</div>
			<div class="icon_menu">
				<i class="fa fa-user"></i>
			</div>
			<div class="icon_menu">
				<i class="fa fa-university"></i>
			</div>
			<div class="icon_menu">
				<i class="fa fa-question"></i>
			</div>
		</div>
	</header>
	<footer>This web footer</footer>
</body>
</html>