<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<link rel="stylesheet" href="/css/bootstrap.min.css"></link>
<link rel="stylesheet" href="/css/font-awesome.min.css"></link>
<link rel="stylesheet" href="/css/rwd/rwd_detail.css"></link>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/rwd/rwd_detail.js"></script>
<title>RWD-Demo</title>
</head>
<body class="rwd-body">
	<header>
		<div class="logo">ProQuest 学位论文全文检索平台</div>
		<div class="header_right max_v">
			<div class="dropdown">
				<a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> 
					简体中文  <span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a href="#" id="zh_CN">简体中文</a></li>
					<li><a href="#" id="en_US">English</a></li>
					<li><a href="#" id="zh_TW">繁體中文</a></li>
				</ul>
			</div>
			<div class="icon_menu">
				<i class="fa fa-home"></i>
			</div>
			<div class="icon_menu">
				<i class="fa fa-user"></i>
			</div>
			<div class="icon_menu">
				<i class="fa fa-university"></i>
			</div>
			<div class="icon_menu">
				<i class="fa fa-question"></i>
			</div>
		</div>
		<div class="op_select">
			<div class="detail_select">
				<div class="dropdown">
					<a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> 
						<i class="fa fa-filter"></i>
					</a>
					<ul class="dropdown-menu">
						<li><a><span class="glyphicon glyphicon-file"></span>&nbsp;&nbsp;<font>引用导出</font></a></li>
						<li><a><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;<font>电子邮件</font></a></li>
						<li><a><span class="glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;<font>添加收藏</font></a></li>
						<li><a><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;&nbsp;<font>单篇订购</font></a></li>
						<li><a><span class="glyphicon glyphicon-inbox"></span>&nbsp;&nbsp;<font>打印</font></a></li>
						<li><a><span class="glyphicon glyphicon-tasks"></span>&nbsp;&nbsp;<font>引用格式</font></a></li>
					</ul>
				</div>
			</div>
			<div class="header_right min_v">
				<div class="dropdown">
					<a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> 
						简体中文  <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#" id="zh_CN">简体中文</a></li>
						<li><a href="#" id="en_US">English</a></li>
						<li><a href="#" id="zh_TW">繁體中文</a></li>
					</ul>
				</div>
				<div class="icon_menu">
					<i class="fa fa-home"></i>
				</div>
				<div class="icon_menu">
					<i class="fa fa-user"></i>
				</div>
				<div class="icon_menu">
					<i class="fa fa-university"></i>
				</div>
				<div class="icon_menu">
					<i class="fa fa-question"></i>
				</div>
			</div>
		</div>
	</header>
	<div class="detail">
		<div class="detail_content">
			<div class="detail_title">
				<p class="thesis_title">The Spring Before Spring</p>
				<p class="thesis_author">Silverman, Taije</p>
				<p><span>Dissertations & Theses</span></p>
			</div>
			<div class="detail_item">
				<div>
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active">
							<a href="#home"aria-controls="home" role="tab" data-toggle="tab">摘要/索引</a>
						</li>
						<li role="presentation">
							<a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">其他</a>
						</li>
					</ul>
					<div class="tab-content content_padding">
						<div role="tabpanel" class="tab-pane active" id="home">
							<div class="detail_summary">
								<div class="summary_title"><strong>摘要</strong></div>
								<div class="summary_content">
									Few of these poems were written before my mother's diagnosis with brain cancer in 2002. The narrative certainty and iambic quatrains of “Syros, 1989” and “Virtu Semper Viridis” point to retrospect. Through distance, I could frame them the way one might take an aerial picture of a building. When my mother got sick, I found myself inside that building. I couldn't see its shape, or know how many rooms it held. The iamb shifted from trustworthy guide to something more unreliable. The fragmented voice in the “Little by Little” poems reflects this shift, as do the barrel-over-boulder speeds of “The Way it Falls” and “As if Memory.” Memory is my manuscript's theme—my mother's memory, as it changed, becoming my memory. Some of the pieces here are written to my memory: my memory in the future, yet to come. I could direct my rage at it, disbelieve it, and beg it. The manuscript is divided into four parts, for the members of my family, and for the seasons, which overlap.
								</div>
							</div>
							<div class="detail_subject">
								<div class="subject_title"><strong>索引</strong></div>
								<div class="subject_item">
									<div class="display_record_indexing_row">
										<div class="display_record_indexing_fieldname">学科:</div>
										<div class="display_record_indexing_data">American literature;</div>
									</div>
									<div class="display_record_indexing_row zebra-stripe">
										<div class="display_record_indexing_fieldname">标题:</div>
										<div class="display_record_indexing_data">The Spring Before Spring</div>
									</div>
									<div class="display_record_indexing_row">
										<div class="display_record_indexing_fieldname">作者:</div>
										<div class="display_record_indexing_data">Silverman, Taije</div>
									</div>
									<div class="display_record_indexing_row zebra-stripe">
										<div class="display_record_indexing_fieldname">页数:</div>
										<div class="display_record_indexing_data">92</div>
									</div>
									<div class="display_record_indexing_row">
										<div class="display_record_indexing_fieldname">出版日期:</div>
										<div class="display_record_indexing_data">2005</div>
									</div>
									<div class="display_record_indexing_row zebra-stripe">
										<div class="display_record_indexing_fieldname">学校代码:</div>
										<div class="display_record_indexing_data">0117</div>
									</div>
									<div class="display_record_indexing_row">
										<div class="display_record_indexing_fieldname">大学/机构:</div>
										<div class="display_record_indexing_data">University of Maryland, College Park</div>
									</div>
									<div class="display_record_indexing_row zebra-stripe">
										<div class="display_record_indexing_fieldname">来源:</div>
										<div class="display_record_indexing_data">Dissertations & Theses</div>
									</div>
									<div class="display_record_indexing_row">
										<div class="display_record_indexing_fieldname">出版地:</div>
										<div class="display_record_indexing_data"></div>
									</div>
									<div class="display_record_indexing_row zebra-stripe">
										<div class="display_record_indexing_fieldname">出版国家/地区:</div>
										<div class="display_record_indexing_data"></div>
									</div>
									<div class="display_record_indexing_row">
										<div class="display_record_indexing_fieldname">ISBN:</div>
										<div class="display_record_indexing_data">9780542182778</div>
									</div>
									<div class="display_record_indexing_row zebra-stripe">
										<div class="display_record_indexing_fieldname">导师:</div>
										<div class="display_record_indexing_data">Plumly, Stanley</div>
									</div>
									<div class="display_record_indexing_row">
										<div class="display_record_indexing_fieldname">委员会成员:</div>
										<div class="display_record_indexing_data"></div>
									</div>
									<div class="display_record_indexing_row zebra-stripe">
										<div class="display_record_indexing_fieldname">学位:</div>
										<div class="display_record_indexing_data">M.F.A.</div>
									</div>
									<div class="display_record_indexing_row">
										<div class="display_record_indexing_fieldname">语言:</div>
										<div class="display_record_indexing_data">English</div>
									</div>
									<div class="display_record_indexing_row zebra-stripe">
										<div class="display_record_indexing_fieldname">ProQuest文档 ID:</div>
										<div class="display_record_indexing_data">1427461</div>
									</div>
									<div class="display_record_indexing_row">
										<div class="display_record_indexing_fieldname">文档URL:</div>
										<div class="display_record_indexing_data">http://www.pqdtcn.com/thesisDetails/240C9F82EFF0E8C27AC162C862B0B3D9</div>
									</div>
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="profile">...</div>
					</div>
				</div>
			</div>
		</div>
		<div class="detail_operate">
			<div class="op_lay">
				<div class="row row_lay">
					<div class="item_lay">						
						<a><span class="glyphicon glyphicon-file"></span>&nbsp;<font>引用导出</font></a>
					</div>
					<div class="item_lay">
						<a><span class="glyphicon glyphicon-envelope"></span>&nbsp;<font>电子邮件</font></a>
					</div>
				</div>
			   	<div class="row row_lay">
					<div class="item_lay">
						<a><span class="glyphicon glyphicon-star-empty"></span>&nbsp;<font>添加收藏</font></a>
					</div>
					<div class="item_lay">
						<a><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;<font>单篇订购</font></a>
					</div>
				</div>
			  	<div class="row row_lay">
					<div class="item_lay">
						<a><span class="glyphicon glyphicon-inbox"></span>&nbsp;<font>打印</font></a>
					</div>
					<div class="item_lay">						
						<a><span class="glyphicon glyphicon-tasks"></span>&nbsp;<font>引用格式</font></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer>This web footer</footer>
</body>
</html>