@charset "UTF-8";
html,
body {
	margin: 0;
	padding: 0;
	font-size: 16px;
}

.rwd-body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
	width : 100%;
	background-color: #666666;
	min-height: 3em;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	
}

.menu {
	width: 10rem;
}

.menu_container_1 {
	display: none;
	opacity: 0;
	width: 30%;
	-webkit-transform: translateY(-200%);
	-ms-transform: translateY(-200%);
    transform: translateY(-200%);
}

footer {
	width : 100%;
	background-color: #666666;
	min-height: 3em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.rwd-main {
  display: flex;
  flex: 1;
}

.rwd-content {
  flex: 1;
  background-color: #D6D6D6;
  display: flex;
  justify-content: center;
  align-items: center;
/*   height: 1000px; */
}

.rwd-ads {
   flex: 0 0 12em;
   background-color: #FF6633;
}

.rwd-nav {
  /* 宽度设为20em */
  flex: 0 0 20em;
}

.rwd-nav h4 a {
	font-size: 0.875em;
	color: #5e5e5e;
	text-decoration: none;
	display: block;
}

.rwd-nav .list-unstyled li a {
	font-size: 0.875em;
	color: #23527c;
	text-decoration: none;
	cursor: pointer;
}

.menuicon {
	display: none;
	font-size: 1.25em;
}

 .chevro{
 	float: right; 
 	color: black;
 	padding-right: .3rem;
 }

@media (max-width : 768px) {
	.rwd-main {
		flex-direction: column;
		flex: 1;
	}
	 .rwd-ads {
		flex: 0 0 8em;
	}
	.rwd-nav {
		/* display: none; */
		display: block;
		position : absolute;
		z-index : 99;
		min-width: 40%;
	}
	header {
		display : flex;
		/* flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start; */
	}
	.menuicon {
		display: block;
		font-size: 1.5rem;
	}
	header .menu {
		visibility: hidden;
	}
	
	.menu_container_1-activ {
		display: block;
		position : absolute;
		z-index : 999;
		margin-top : 3rem;
		background : #000000;
	    opacity: 1;
	    width: 50%;
	    -webkit-transition: ease-in 0.5s all;
	    transition: ease-in 0.5s all;
	    -webkit-transform: translateY(0);
	    -ms-transform: translateY(0);
	    transform: translateY(0);
	}
	
	.menu_container_1-activ > .menu {
		color: white;
	}
	
	.chevro {
		padding-right: .1rem;
	}
}