<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<link rel="stylesheet" href="/css/bootstrap.min.css"></link>
<link rel="stylesheet" href="/css/font-awesome.min.css"></link>
<link rel="stylesheet" href="/css/rwd.css"></link>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/rwd.js"></script>
<title>RWD-Demo</title>
</head>
<body class="rwd-body">
	<header>
		<div class="menuicon">
			<span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
		</div>
		<div class="menu">1111</div>
		<div class="menu">2222</div>
		<div class="menu">3333</div>
	</header>
	<div class="menu_container_1">
		<div class="menu">1111</div>
		<div class="menu">2222</div>
		<div class="menu">3333</div>
	</div>
	<div class="rwd-main">
		<div class="rwd-nav">
			<div class="row">
				<div class=".col-xs-12 .col-sm-12 .col-md-12">
					<div class="panel-group">
						<div class="panel">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#" href="#col1" aria-expanded="true">
										<span class="fa fa-folder" style="color:black;"></span>&nbsp;学科
										<span class="glyphicon glyphicon-chevron-right chevro"></span> 
									</a>
								</h4>
							</div>
							<div class="panel-collapse collapse in" id="col1" aria-expanded="true">
								<div class="panel-body">
									<ul class="list-unstyled" data-id="col1" data-facetlabel="学科" style="margin-left:10px;">   
										<li data-value="Electrical engineering" value="Electrical engineering"  data-valuelabel="Electrical engineering">
											<a>&nbsp;Electrical engineering&nbsp;&nbsp;(2918)</a>
										</li>   
										<li data-value="Mechanical engineering" value="Mechanical engineering"  data-valuelabel="Mechanical engineering">
											<a>&nbsp;Mechanical engineering&nbsp;&nbsp;(829)</a>
										</li>   
										<li data-value="Computer science" value="Computer science"  data-valuelabel="Computer science">
											<a>&nbsp;Computer science&nbsp;&nbsp;(824)</a></li>   
										<li data-value="Political Science" value="Political Science"  data-valuelabel="Political Science">
											<a>&nbsp;Political Science&nbsp;&nbsp;(770)</a>
										</li>   
										<li data-value="Women's studies" value="Women's studies"  data-valuelabel="Women's studies">
											<a>&nbsp;Women's studies&nbsp;&nbsp;(602)</a>
										</li>   
										<li data-value="Energy" value="Energy"  data-valuelabel="Energy">
											<a>&nbsp;Energy&nbsp;&nbsp;(522)</a>
										</li>   
										<li data-value="Materials science" value="Materials science"  data-valuelabel="Materials science">
											<a>&nbsp;Materials science&nbsp;&nbsp;(494)</a>
										</li>
								      	<span id="ts_df_str_subject_strmenu_open" style="display: inline-block;margin-top:5px;">
								      		<a onclick="#" style="color:black;font-size: 0.875em;cursor: pointer;text-decoration: none;"> &nbsp;&nbsp;&nbsp;<font>更多选项</font>...</a>
								      	</span> 
								      </ul>
								</div>
							</div>
						</div>
						<div class="panel">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#" href="#col2" aria-expanded="true">
										<span class="fa fa-folder" style="color:black;"></span>&nbsp;其他
										<span class="glyphicon glyphicon-chevron-right chevro"></span> 
									</a>
								</h4>
							</div>
							<div class="panel-collapse collapse in" id="col2" aria-expanded="true">
								<div class="panel-body">
									<ul class="list-unstyled" data-id="col2" data-facetlabel="学科" style="margin-left:10px;">   
										<li data-value="Electrical engineering" value="Electrical engineering"  data-valuelabel="Electrical engineering">
											<a>&nbsp;Electrical engineering&nbsp;&nbsp;(2918)</a>
										</li>   
										<li data-value="Mechanical engineering" value="Mechanical engineering"  data-valuelabel="Mechanical engineering">
											<a>&nbsp;Mechanical engineering&nbsp;&nbsp;(829)</a>
										</li>   
										<li data-value="Computer science" value="Computer science"  data-valuelabel="Computer science">
											<a>&nbsp;Computer science&nbsp;&nbsp;(824)</a></li>   
										<li data-value="Political Science" value="Political Science"  data-valuelabel="Political Science">
											<a>&nbsp;Political Science&nbsp;&nbsp;(770)</a>
										</li>   
										<li data-value="Women's studies" value="Women's studies"  data-valuelabel="Women's studies">
											<a>&nbsp;Women's studies&nbsp;&nbsp;(602)</a>
										</li>   
										<li data-value="Energy" value="Energy" style="display:none" data-valuelabel="Energy">
											<a>&nbsp;Energy&nbsp;&nbsp;(522)</a>
										</li>   
										<li data-value="Materials science" value="Materials science" style="display:none" data-valuelabel="Materials science">
											<a>&nbsp;Materials science&nbsp;&nbsp;(494)</a>
										</li>
								      	<span id="ts_df_str_subject_strmenu_open" style="display: inline-block;margin-top:5px;">
								      		<a onclick="#" style="color:black;font-size: 0.875em;cursor: pointer;text-decoration: none;"> &nbsp;&nbsp;&nbsp;<font>更多选项</font>...</a>
								      	</span> 
								      </ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="rwd-content">
			121212
		</div>
		<div class="rwd-ads">
			这里是相关广告说明
		</div>
	</div>
	<footer>This web footer</footer>
</body>
</html>