<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<link rel="stylesheet" href="/css/bootstrap.min.css"></link>
<link rel="stylesheet" href="/css/font-awesome.min.css"></link>
<link rel="stylesheet" href="/css/rwd_index.css"></link>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/rwd_index.js"></script>
<title>RWD-Demo</title>
</head>
<body class="rwd-body">
	<header>
		<div class="logo">ProQuest 学位论文全文检索平台</div>
		<div class="header_right">
			<div class="dropdown">
				<a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> 
					简体中文  <span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a href="#" id="zh_CN">简体中文</a></li>
					<li><a href="#" id="en_US">English</a></li>
					<li><a href="#" id="zh_TW">繁體中文</a></li>
				</ul>
			</div>
			<div class="icon_menu">
				<i class="fa fa-home"></i>
			</div>
			<div class="icon_menu">
				<i class="fa fa-user"></i>
			</div>
			<div class="icon_menu">
				<i class="fa fa-university"></i>
			</div>
			<div class="icon_menu">
				<i class="fa fa-question"></i>
			</div>
		</div>
	</header>
	<div class="search_main">
		<div><img alt="" src="/img/web-index.png" /> </div>
		<div class="search_title">学位论文全文检索平台</div>
		<div class="input-group search_group">
			<input type="text" class="form-control search_input"  placeholder="请输入你要检索的英文..." autocomplete="off" />
			<div class="input-group-btn">
				<button type="button" class="btn btn-primary search_button">检  索</button>
			</div>
		</div>
		<div class="search_select">
			<div class="checkbox checkbox-primary">
				<input type="checkbox" />
				<label>精确检索</label>
		    </div>
		    <div class="checkbox checkbox-primary">
				<input type="checkbox" />
				<label>仅博士论文</label>
		    </div>
		    <div class="checkbox checkbox-primary">
				<input type="checkbox" />
				<label>可荐购论文</label>
		    </div>
		</div>
		<div class="search_additional">
			<div class="hot_keywords">
				<div class="hot_title">1</div>
				<div class="hot_content">1</div>
			</div>
			<div class="announcement">
				<div class="announcement_title">1</div>
				<div class="announcement_list">
				1
				</div>
				<div class="announcement_list">
				1
				</div>
				<div class="announcement_list">
				1
				</div>
				<div class="announcement_list">
				1
				</div>
			</div>
		</div>
	</div>
	<footer>This web footer</footer>
</body>
</html>